<div class="jumbotron" style="background-color:#FAE0EE;>
<h2 class= "display-4"><h2>Scrunchie How Tos</h2><%= link_to "(+)", new_mood_path, class: 'link-to-new-color' %></h2>
</div>


  <% @moods.each do |mood| %>
      <h3>
      <%= link_to mood.title, mood_path(mood), class: 'link-to-text-color' %> </h3> 
      <p> <%= link_to 'Delete Scrunchie How To', mood_path(mood), class: 'link-to-delete-color',
              method: :delete,
              data: { confirm: 'You dare delete this scrunchie how to post?' } %></p>
  <% end %>