<h2>Scrunchie How Tos</h2>

  <h2>Add New Scrunchie How To Post <%= link_to "(+)", new_mood_path %></h2>

  <% @moods.each do |mood| %>
      <h3>
      
      <%= link_to mood.title, mood_path(mood) %>  <%= link_to "(edit)", edit_mood_path(mood) %></h3> 
      <p><%= link_to 'Delete Scrunchie How To', mood_path(mood),
              method: :delete,
              data: { confirm: 'You dare delete this scrunchie how to post?' } %></p>
  <% end %>