<div class= "container" style="background-color:#ff92f5;> 
<h2 class= "display-4"> New How to post you've had your eyeballs on ? </h2>
<h3>Def add that link right hurr</h3>
<%= render "form" %>
</div> 